<a href="https://colab.research.google.com/github/gmazzitelli/studenti/blob/master/stat_url2panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
# open CVS URL to panda from URL
# https://population.un.org/wpp/Download/Standard/CSV/ Work Population DB
# 
url_csv_file ="https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/CSV_FILES/WPP2019_TotalPopulationBySex.csv"
df = pd.read_csv(url_csv_file)
df.tail()

        LocID  Location  VarID  ...  PopFemale   PopTotal  PopDensity
280927    716  Zimbabwe    207  ...  11255.983  21836.893      56.448
280928    716  Zimbabwe    207  ...  11050.875  21355.988      55.205
280929    716  Zimbabwe    207  ...  10767.709  20689.956      53.483
280930    716  Zimbabwe    207  ...  10412.184  19892.080      51.421
280931    716  Zimbabwe    207  ...   9996.105  19061.177      49.273

[5 rows x 10 columns]

In [2]:
# google KEY spreadshit to Panda
key="1y_-enSemurgHiUxLH-Qak3O72Wj9cR0yp4UMEv_VtdA"
url_csv_file = "https://docs.google.com/spreadsheet/ccc?key="+key+"&output=csv"
df = pd.read_csv(url_csv_file)
df.tail()

               Timestamp  ...  Commenti e suggerimenti:
236  2017-02-03 15:14:54  ...                       NaN
237  2017-02-03 11:47:30  ...                       NaN
238  2017-02-03 11:44:00  ...                       NaN
239  2017-01-23 17:18:19  ...                       NaN
240  2017-01-20 11:37:40  ...                       NaN

[5 rows x 14 columns]

In [3]:
# open XML URL to Pand
# fonte Open data http://www.datiopen.it/ sito di aggregazione --> Scarica --> ottine URL 
def xml2df(xml_data):
    import xml.etree.ElementTree as ET
    import pandas as pd
    root = ET.XML(xml_data) # element tree
    all_records = []
    for i, child in enumerate(root):
        record = {}
        for subchild in child:
            record[subchild.tag] = subchild.text
        all_records.append(record)
    df = pd.DataFrame(all_records)
    return df

import requests
url_xml_file ='http://www.user-agents.org/allagents.xml'
xml_data = requests.get(url_xml_file).content
#xml_data = open('file.xml').read()
df = xml2df(xml_data)
df.tail()

                   ID  ...                 Link2
2454  id_t_z_160110_1  ...  http://www.zscho.de/
2455  id_t_z_280306_1  ...                  None
2456      id_t_z_1551  ...                  None
2457  id_new_190610_1  ...                  None
2458  id_new_190610_2  ...                  None

[5 rows x 7 columns]

In [43]:
# Json URL to Panda
# fonte Open data http://www.datiopen.it/ 
# dati Istat
# sito ministero https://www.dati.gov.it/content/sviluppatori 
# documentazione https://dkan.readthedocs.io/en/latest/apis/ckan-dataset.html
# 
json_data ="http://www.dati.gov.it/api/3/action/package_list"
df = pd.read_json(json_data)
df.tail()

                                                    help  ...                                             result
27973  Return a list of the names of the site's datas...  ...          occupazione-lavoratori-disabili-anno-2018
27974  Return a list of the names of the site's datas...  ...                     indicatori-economici-anno-2018
27975  Return a list of the names of the site's datas...  ...         occupazione-lavoratori-stranieri-anno-2018
27976  Return a list of the names of the site's datas...  ...                    cessazioni-dal-lavoro-anno-2018
27977  Return a list of the names of the site's datas...  ...  provincia-monza-brianza-piano-delle-alienazion...

[5 rows x 3 columns]

In [44]:
what = 'occupazione-lavoratori-stranieri-anno-2018'
json_data ="http://www.dati.gov.it/api/3/action/package_show?id="+what
df = pd.read_json(json_data)
df.tail()

                                                                 help  ...                                             result
revision_timestamp  Return the metadata of a dataset (package) and...  ...                          2020-04-24T03:10:06+02:00
state               Return the metadata of a dataset (package) and...  ...                                             Active
tags                Return the metadata of a dataset (package) and...  ...  [{'id': '3580880f-b832-43c5-9ed7-6642579c7b41'...
title               Return the metadata of a dataset (package) and...  ...         Occupazione lavoratori stranieri anno 2018
type                Return the metadata of a dataset (package) and...  ...                                            Dataset

[5 rows x 3 columns]

In [47]:
df

                                                                   help  ...                                             result
_catalog_parent_name  Return the metadata of a dataset (package) and...  ...                                      Dati Trentino
_catalog_source_url   Return the metadata of a dataset (package) and...  ...  https://dati.trentino.it/api/3/action/package_...
creator_user_id       Return the metadata of a dataset (package) and...  ...               9bcba160-349c-4d14-8a53-d4168349d053
extras                Return the metadata of a dataset (package) and...  ...                         [{'key': '', 'value': ''}]
id                    Return the metadata of a dataset (package) and...  ...               79fe5a85-cc3b-41ae-aa8a-8d33ecbc133a
license_id            Return the metadata of a dataset (package) and...  ...                                          CC-BY 4.0
license_url           Return the metadata of a dataset (package) and...  ...        http://creativecommons.org/licenses/by/4.0/
metadata_created      Return the metadata of a dataset (package) and...  ...                          2020-03-25T08:43:48+01:00
metadata_modified     Return the metadata of a dataset (package) and...  ...                          2020-04-20T08:41:24+02:00
name                  Return the metadata of a dataset (package) and...  ...         occupazione-lavoratori-stranieri-anno-2018
notes                 Return the metadata of a dataset (package) and...  ...  <p>I contenuti del dataset sono relativi all'a...
organization          Return the metadata of a dataset (package) and...  ...  [{'title': 'Provincia autonoma di Trento', 'de...
resources             Return the metadata of a dataset (package) and...  ...  [{'id': '3ece358a-717d-48d3-a46d-9d6ae8d8a652'...
revision_timestamp    Return the metadata of a dataset (package) and...  ...                          2020-04-24T03:10:06+02:00
state                 Return the metadata of a dataset (package) and...  ...                                             Active
tags                  Return the metadata of a dataset (package) and...  ...  [{'id': '3580880f-b832-43c5-9ed7-6642579c7b41'...
title                 Return the metadata of a dataset (package) and...  ...         Occupazione lavoratori stranieri anno 2018
type                  Return the metadata of a dataset (package) and...  ...                                            Dataset

[18 rows x 3 columns]

In [53]:
df['result'][1]

'https://dati.trentino.it/api/3/action/package_list'

In [42]:
json_data ="http://www.dati.gov.it/api/3/action/package_show?id="+df['result'].id
df = pd.read_json(json_data)
df.tail()

79fe5a85-cc3b-41ae-aa8a-8d33ecbc133a
http://www.dati.gov.it/api/3/action/package_show?id=79fe5a85-cc3b-41ae-aa8a-8d33ecbc133a

                                                                 help  ...                                             result
revision_timestamp  Return the metadata of a dataset (package) and...  ...                          2020-04-24T03:10:06+02:00
state               Return the metadata of a dataset (package) and...  ...                                             Active
tags                Return the metadata of a dataset (package) and...  ...  [{'id': '3580880f-b832-43c5-9ed7-6642579c7b41'...
title               Return the metadata of a dataset (package) and...  ...         Occupazione lavoratori stranieri anno 2018
type                Return the metadata of a dataset (package) and...  ...                                            Dataset

[5 rows x 3 columns]

In [31]:

json_data ='http://www.dati.gov.it/api/3/action/current_package_list_with_resources?limit=10'
df = pd.read_json(json_data)
df.tail()

                                                help  ...                                             result
5  Return a list of the site's datasets (packages...  ...  {'id': '39c1709a-ea9a-4956-894a-b70eb5d0add6',...
6  Return a list of the site's datasets (packages...  ...  {'id': '8045d2ba-d11c-4d95-9065-5806324b671d',...
7  Return a list of the site's datasets (packages...  ...  {'id': 'd47361f9-d515-40ea-a2b0-d4e288c0200f',...
8  Return a list of the site's datasets (packages...  ...  {'id': '1da41ac4-83df-444f-ac10-3810518e9622',...
9  Return a list of the site's datasets (packages...  ...  {'id': 'adf4f745-f216-4d6d-b239-c801c4eb854b',...

[5 rows x 3 columns]

In [35]:
df['result'][0]

{'_catalog_parent_name': 'Comune di Bologna',
 '_catalog_source_url': 'http://catalogodati.comune.bologna.it/api/3/action/package_list',
 'creator_user_id': '9bcba160-349c-4d14-8a53-d4168349d053',
 'extras': [{'key': '', 'value': ''}],
 'groups': [{'description': '<p>This concept identifies datasets covering such domains as education, culture or sport.</p>\n',
   'display_name': 'Istruzione, cultura e sport',
   'id': '28d0b555-125a-4b3c-9505-69896a8d72a5',
   'name': 'Istruzione, cultura e sport',
   'title': 'EDUC'}],
 'id': '929b9ae7-6730-4267-86e1-bf4c4a13558d',
 'log_message': "Update to resource 'Anni 2012-2017 Media Library online Uso dei contenuti'",
 'metadata_created': '2020-04-21T15:08:51+02:00',
 'metadata_modified': '2020-04-25T13:00:01+02:00',
 'name': 'media-library-online',
 'notes': '<p>Il dataset espone i report statistici dei movimenti e delle azioni (utenti iscritti complessivi, accessi e consultazioni e uso dei contenuti digitali) avvenute sul portale del progetto MediaLibraryOnLine di Bologna (MLOL);  la biblioteca digitale che offre l’accesso da remoto a quotidiani italiani e stranieri, ebook, audiolibri, musica, video, banche dati e altro ancora.</p>\n',
 'organization': [{'created': '2018-11-20T09:47:23+01:00',
   'description': '<p>Piazza Maggiore 6 Bologna</p>\n',
   'id': '71af48fa-ef3d-416f-87c8-15e21ae6ac65',
   'image_url': 'https://www.dati.gov.it/sites/default/files/group.png',
   'is_organization': 'true',
   'name': 'group/comune-bologna',
   'title': 'Comune di Bologna',
   'type': 'organization'}],
 'private': True,
 'resources': [{'created': '2020-04-21T23:10:09+02:00',
   'description': '',
   'format': 'csv',
   'id': '62ebd0de-caaf-45bd-a303-e3b055cf4152',
   'last_modified': '2020-04-21T23:10:09+02:00',
   'mimetype': 'csv',
   'name': 'Anni 2012-2017 Madia Library online Accessi utenti',
   'resource_group_id': '71af48fa-ef3d-416f-87c8-15e21ae6ac65',
   'revision_id': '',
   'revision_timestamp': '2020-04-21T23:10:09+02:00',
   'size': '',
   'state': 'Active',
   'url': 'https://drive.google.com/uc?export=download&amp;id=11ToXhrLWusRG4WIIs6N8Jf017AGkg7EL'},
  {'created': '2020-04-21T23:10:09+02:00',
   'description': '<p>Rilevate solo le testate con almeno 300 consultazioni totali<br />\nIl contenuto della raccolta dei periodici e il numero totale di licenze per singoli titoli variano notevolmente di anno in anno</p>\n',
   'format': 'csv',
   'id': '2f06e7b2-0097-4b4d-8a30-bb6f35f54d27',
   'last_modified': '2020-04-21T23:10:09+02:00',
   'mimetype': 'csv',
   'name': 'Anni 2012-2017 Media Library online Consultazione periodici',
   'resource_group_id': '71af48fa-ef3d-416f-87c8-15e21ae6ac65',
   'revision_id': '',
   'revision_timestamp': '2020-04-21T23:10:09+02:00',
   'size': '',
   'state': 'Active',
   'url': 'https://drive.google.com/uc?export=download&amp;id=1iyyeSV8DEjdOZPVanX8FVgGAZXzWSoEC'},
  {'created': '2020-04-21T23:10:09+02:00',
   'description': '',
   'format': 'csv',
   'id': 'f9d62098-87b2-4008-b71c-6c32c7faf82b',
   'last_modified': '2020-04-21T23:10:09+02:00',
   'mimetype': 'csv',
   'name': 'Anni 2012-2017 Media Library online Uso dei contenuti',
   'resource_group_id': '71af48fa-ef3d-416f-87c8-15e21ae6ac65',
   'revision_id': '',
   'revision_timestamp': '2020-04-21T23:10:09+02:00',
   'size': '',
   'state': 'Active',
   'url': 'https://drive.google.com/uc?export=download&amp;id=194WfhHVnrBYKDaR81gfBvFQWoFQjuWuG'}],
 'revision_timestamp': '2020-04-25T13:00:01+02:00',
 'state': 'Active',
 'title': 'Media Library online',
 'type': 'Dataset'}